@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');

body{
    font-family: 'Red Hat Text', sans-serif;
    background-image: url(https://raw.githubusercontent.com/aUnicornDev/launch-countdown-timer-main/2cd947eac6e79b94080017167f4df2d3096b4e6e/images/bg-stars.svg);
     text-align: center;
     background-color: #211D2B;
     
} 

#arbol{
    background-repeat: no-repeat;
    background-position: center center;
    width: 11%;
    height: 12%;
}

main {
    margin-top: 10rem;
   
}


#countdown{
 display: flex;
justify-content: center;   
}
.card-number{
    padding:3px;
    margin: 30px;
    font-size: 14px;
    
}

.card-name {
    color: #8486a9;
    text-align: center;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bolder;
    color: #fb6087;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -1px 11px 8px -6px rgb(0 0 0 / 75%);
    width: 145px;
}

#redes {
  text-align: center;
    right: 45%;
    bottom: 1rem;
    z-index: 1;
}

.logos:hover {
    cursor: pointer;
}

.logo {
justify-content: center;}

#bg-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#particles-js {
height: 100vh;
width: 100%;
position: fixed;
z-index: 99;
}

@media screen and (max-width: 1440px) {
#backgrount{
    background-repeat: no-repeat;
    background-size: cover; 

}
}
    
@media screen and (min-width: 315px) {
    
        .numbers{
        font-size: 4rem;
    
}
}
      
